.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(60px, auto);
}
.flex__ {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  padding: 5px;
}
