body {
  background-color: #111;
}
body,
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif !important;
}
a:hover {
  text-decoration: none;
}
.bg_color {
  background-color: #111;
}
.sb_color {
  background-color: #000000;
}
.btn_color {
  background-color: #ffca28;
}
.sideBar {
  top: 0;
  position: absolute;
  left: 0;
  transition: 0.5s;
  padding: 0;
  margin-top: 24px;
  margin-left: 24px;
  height: calc(100vh - 48px);
  background-size: cover;
  background-position: center left;
  width: 350px;
  border-radius: 4px 0 0 4px;
  background-color: #070908;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.user_img {
  width: 100%;
  display: block;
  text-align: center;
}
.react_logo {
  width: 300px;
  margin: 0 auto 50px auto;
  display: block;
}
.main_content {
  position: absolute;
  width: calc(100% - 374px);
  overflow: hidden;
  height: calc(100% - 48px);
  top: 24px;
  right: 0px;
  background-color: #111;
  color: #fff;
}
.wrapper {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r_Navigation {
  display: block;
  width: 100%;
  margin: 0;
  padding-left: 100px;
  box-sizing: border-box;
}
.r_Navigation li {
  display: block;
  position: relative;
}
.r_Navigation li + li {
  margin-top: 30px;
}
.r_Navigation li a {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  padding: 3px;
}
.r_Navigation li a.selected {
  background: linear-gradient(to left, #cc72db, #737cdf);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.menu_name {
  letter-spacing: 1px;
}
.menu_icon {
  width: 50px;
  height: 50px;
  background-color: #2a2938;
  line-height: 50px;
  border-radius: 25px;
  margin-right: 15px;
  font-size: 18px;
}
.r_Navigation li a.selected .menu_icon {
  background-color: #222222;
}
.r_Navigation li a.selected .menu_name {
  color: #fff;
}
/*home page*/
.mainContainer {
  position: relative;
  height: calc(100vh - 48px);
  background-color: #222;
  margin: 0px 15px 0px 0;
}
.absoluteContent {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
}
.absoluteContent h2 {
  font-size: 48px;
  font-weight: bold;
  display: block;
}
.absoluteContent h2 span {
  color: #ffb400;
}
.r_btn {
  width: 153px;
  height: 50px;
  border: 1px solid #cc72db;
  box-sizing: border-box;
  border-radius: 25px;
  display: inline-block;
  line-height: 48px;
  color: #fff;
  background: linear-gradient(to left, #cc72db, #737cdf);
}
.r_btn.active {
  display: inline-block;
  width: 153px;
  height: 50px;
  background: linear-gradient(to left, #cc72db, #737cdf);
  border-radius: 25px;
  color: #fff;
}
.scroll-content {
  display: block;
  box-sizing: border-box;
  margin-right: -12px;
  height: calc(100vh - 48px);
  overflow: hidden;
  overflow-y: scroll;
}
.p_b_50 {
  padding-bottom: 50px;
}
.scroll-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.scroll-content::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.scroll-content::-webkit-scrollbar-thumb {
  background-color: #ffb400;
  border-radius: 10px;
}
/*about*/
.flexDisplay {
  display: block;
  align-items: center;
  justify-content: center;
}
.about-wrapper {
  padding: 50px 30px 100px 30px;
}
.mainTitle {
  display: block;
  text-align: center;
  padding-bottom: 53px;
}
.mainTitle h2 {
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
}
.mainTitle h2 span {
  color: #ffb400;
}
.mainTitle h6 {
  text-transform: uppercase;
}
.title-inside {
  padding-bottom: 33px;
  line-height: 22px;
}
p {
  font-size: 1em;
  margin-bottom: 0 !important;
}
.first-para {
  padding-bottom: 14px;
}
.service {
  background: #111111;
  padding: 70px 30px 50px 30px;
}
.funfact-item {
  padding-bottom: 40px;
  text-align: center;
}
.svg-inline--fa.fa-w-14 {
  width: 40px;
}
.funfact-item svg {
  font-size: 72px;
  padding-bottom: 32px;
  color: #ffb400;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa.fa-w-16 {
  width: 45px;
}
.svg-inline--fa.fa-w-12 {
  width: 35px;
}
.funfact-item h2 {
  font-size: 42px;
  font-weight: 300;
  padding-bottom: 7px;
  color: #fff;
}
.funfact-item p {
  color: #fff;
}
.about-video {
  padding: 100px 30px 100px 30px;
}
.video-two,
.video-bg {
  position: relative;
}
.video-bg:before {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.video-link:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
}
.video-link:after,
.video-link:hover::after {
  content: "";
  border-color: transparent transparent transparent #fff;
}
.video-bg:before {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.video-bg img,
.video-bg:before {
  width: 100%;
  border-radius: 5px;
}
.inner-wrapper {
  padding-bottom: 23px;
}
.first-para {
  padding-bottom: 14px;
}
.inner-wrapper .video-btn-wrapper {
  margin-top: 25px;
}

img {
  max-width: 100%;
}

.vertical-align-pt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pt-button,
.pt-button span {
  font-size: 15px;
  transform-style: preserve-3d;
}

.bright-pt {
  color: #fff;
}

.right-align-pt {
  text-align: right;
}

.go-center,
.preloader,
.pt-button,
.pt-button span {
  text-align: center;
}

.extented-right {
  background-size: cover;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.title-pt h2 {
  font-weight: 500;
}

.title-pt h6 {
  color: #696969;
}

.inner-title {
  padding-bottom: 17px;
}

.button-3d-pt {
  position: relative;
  margin-top: 25px;
}

.pt-button {
  width: 150px;
  height: 50px;
  line-height: 50px;
  perspective: 1000px;
  transform-origin: center center;
  position: absolute;
  text-align: center;
}

.pt-button span,
span.two-pt:before {
  position: absolute;
  height: 100%;
  border-radius: 30px;
  width: 100%;
  top: 0;
  left: 0;
}

.pt-button span {
  line-height: 46px;
  background: rgba(255, 255, 255, 0.05);
  backface-visibility: hidden;
  color: #fff;
  transition: all 1s ease;
}

span.one-pt {
  transform: rotateX(0) translateZ(20px);
}

.pt-button:hover span.one-pt {
  transform: rotateX(-180deg) translateZ(20px);
}

span.three-pt {
  transform: rotateX(180deg) translateZ(20px);
}

.pt-button:hover span.three-pt {
  transform: rotateX(0) translateZ(20px);
}

span.two-pt {
  background: linear-gradient(to left, #cc72db, #737cdf);
}

span.two-pt:before {
  content: "";
  background: linear-gradient(315deg, #4cb5ff 0, #8982f7 100%);
  transform: translateZ(-1px);
}
.pt-button:hover span.two-pt {
  transform: rotateX(-180deg);
}
.mail-pt a:before,
.main-nav ul li:before,
.porfolio-img:before,
.pt-button-regular:before {
  content: "";
}
/* .sideBar {
  background: url("./admin.jpeg") center right no-repeat;
  background-size: cover;
} */
/*resume**/
.profile-cover {
  background: #070908;
  padding: 55px 30px 60px;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.profile-cover .button-3d-pt {
  position: absolute;
  right: 178px;
  top: 33px;
  z-index: 9999;
}
.profile-pic img {
  border-radius: 100%;
  margin-top: 5px;
}
.location {
  padding-top: 6px;
  padding-bottom: 13px;
  font-size: 13px;
  color: #696969;
}
.bio {
  font-size: 14px;
  line-height: 24px;
}
.resume-right {
  background: #070908;
  border-radius: 5px;
  padding: 52px 30px 39px;
}
.barfiller,
.barfiller span.fill {
  border-radius: 100px;
  position: relative;
}
.bar-content {
  padding-bottom: 4px;
}
.barfiller {
  width: 100%;
  height: 12px;
  background: 0 0;
  margin-bottom: 20px;
}
.bar-content span.skills-heading {
  font-size: 16px;
  color: #96a0b5;
  padding-bottom: 4px;
  text-transform: uppercase;
}
.barfiller .tip {
  float: right;
  margin-top: -29px;
  margin-right: 0;
  color: #96a0b5;
}
.tip {
  left: 241.431px;
  transition: left 1s ease-in-out 0s;
}
#bar1 .fill {
  width: 75%;
}
#bar2 .fill {
  width: 95%;
}
#bar3 .fill {
  width: 95%;
}
#bar4 .fill {
  width: 50%;
}
#bar5 .fill {
  width: 75%;
}
#bar6 .fill {
  width: 85%;
}
#bar7 .fill {
  width: 75%;
}
#bar4.barfiller {
  margin-bottom: 10px;
}
.fill {
  transition: width 1s ease-in-out 0s;
}
.barfiller span.fill {
  display: block;
  height: 100%;
  background: linear-gradient(to left, #cc72db, #737cdf);
  /* background-image: linear-gradient(
    135deg,
    #cc72db 0,
    #737cdf #3372f4 0,
    #6f55eb #cc72db 0,
    #737cdf 100%
  ) !important; */
  z-index: 1;
}
.profile-info {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-info {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #222222;
  border-radius: 100%;
  position: relative;
  border: 1px solid #222222;
  color: #96a0b5;
  margin-right: 15px;
}
.details-info h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
}
.details-info p {
  color: #96a0b5;
  font-size: 12px;
  line-height: 21px;
}
.experience-zone {
  padding-top: 30px;
  padding-bottom: 100px;
}
.education {
  background: #070908;
  border-radius: 5px;
  padding: 55px 30px 60px;
}
.education .inner-title {
  padding-bottom: 31px;
}
.inner-title {
  padding-bottom: 17px;
}
.education-border {
  border-left: 1px solid rgba(137, 130, 247, 0.2);
}
.edu-item:first-child {
  padding-top: 5px;
}
.edu-item {
  padding-left: 15px;
  padding-bottom: 36px;
}
.item-header {
  padding-bottom: 15px;
}
.item-header h6 {
  line-height: 16px;
  position: relative;
  font-weight: 400;
}
.item-header p {
  color: #8982f7;
  font-size: 12px;
  line-height: 21px;
}
.item-header h6:before {
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid #8982f7;
  background: #f0f0f0;
  border-radius: 100%;
  left: -22px;
  transition: all 0.5s ease;
}
.item-header h6:before,
.video-bg:before {
  content: "";
  top: 0;
}
.edu-item:hover h6:before {
  background: #8982f7;
}
.edu-item:last-child {
  padding-bottom: 0;
}
.collage-area {
  padding-bottom: 30px;
}
/*resume*/
/*portfolio*/
.pt-portfolio-items {
  padding-bottom: 60px;
}
.cat-nav ul {
  padding-top: 0;
  padding-bottom: 29px;
  text-align: center;
}
.cat-nav li {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 4px 15px;
  color: #2f2f33;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.cat-nav ul li {
  margin-bottom: 15px;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.cat-nav li.active,
.cat-nav li:hover {
  border: 1px solid transparent;
  color: #fff;
  background: linear-gradient(to left, #cc72db, #737cdf);
}
.single-image {
  margin-bottom: 30px;
  position: relative;
}
.m_b_30 {
  margin-bottom: 30px;
}
.porfolio-img {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 10px 31.5px 3.5px rgba(0, 0, 0, 0.2);
}
.go-center {
  text-align: center;
}
.partner-logo h2 {
  padding-bottom: 32px;
  text-transform: uppercase;
}
.partner-logo h2 span {
  color: #ffb400;
}
.client-logo {
  margin-bottom: 30px;
}
.client-logo img {
  max-height: 100px;
  max-width: 90px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.client-logo img {
  transition: all 0.5s ease-in-out;
}
.client-logo:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
/*portfolio*/
/*services*/
.more-services {
  padding-bottom: 30px;
}
.advantage-two {
  margin-bottom: 30px;
  padding: 30px 20px 30px 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: all 0.5s ease;
}
.advantage-icon-two {
  float: left;
  font-size: 36px;
  padding-top: 5px;
  padding-right: 30px;
  color: rgba(137, 130, 247, 0.9);
}
.advantage-text-two h5 {
  color: #8982f7;
}
.advantage-text-two h5,
.advantage-two .advantage-text-two h5 {
  font-weight: 400;
  transition: all 0.5s ease;
}
.advantage-two:last-child {
  margin-bottom: 0;
}
.responsive-space-30 {
  margin-bottom: 30px;
}
.advantage-two {
  margin-bottom: 30px;
  padding: 30px 20px 30px 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: all 0.5s ease;
}
.service-item {
  border-radius: 5px;
  padding: 45px 30px 44px;
  margin-bottom: 30px;
  background: linear-gradient(to left, #8982f6, #8982f6) left bottom no-repeat
    #070908;
  background-size: 100% 3px;
}
.service-item img {
  border-radius: 100%;
  margin-bottom: 22px;
  width: 80px;
}
.service-item h4 {
  padding-bottom: 13px;
  color: #8982f7;
}
.service-item p {
  color: #fff;
}
/*services*/
/*contact*/
.contact-wrapper {
  position: relative;
}
.contact-wrapper:before {
  content: url(./img/contact_vector1.png);
  position: absolute;
  left: -170px;
  top: 0;
  opacity: 0.7;
}
.contact-wrapper:after {
  content: url(./img/contact_vector2.png);
  position: absolute;
  right: -240px;
  bottom: -30px;
  z-index: 1;
  opacity: 0.7;
}
.contact .title-pt {
  padding-bottom: 5px;
}
.form-pt {
  margin-top: 15px;
}
.form-pt input {
  height: 50px;
}
.form-pt input,
.form-pt textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  transition: all 0.5s ease;
  background-color: #222;
  color: #fff;
}
.form-pt input[type="submit"] {
  border-bottom: 0;
  height: auto;
  margin-bottom: 0;
}
.form-pt input {
  height: 50px;
}
.form-pt input,
.form-pt textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  transition: all 0.5s ease;
}
.pt-button-regular {
  color: #fff;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  border-radius: 100px;
  padding: 17px 30px;
  background: linear-gradient(135deg, #737cdf, #cc72db, #737cdf, #ccc, #cc72db);
  background-size: 400% 400%;
  display: inline-block;
  text-transform: uppercase;
}

.form-pt input[type="submit"] {
  border-bottom: 0;
  height: auto;
  margin-bottom: 0;
}

.button-pt {
  background: linear-gradient(to left, #cc72db, #737cdf);
  border-bottom: 0;
  border-radius: 100px;
  color: #fff;
}

.form-pt input::-webkit-input-placeholder,
.form-pt textarea::-webkit-input-placeholder {
  color: #fff;
}

.form-pt input::-moz-placeholder,
.form-pt textarea::-moz-placeholder {
  color: #fff;
}

.form-pt input:-ms-input-placeholder,
.form-pt textarea:-ms-input-placeholder {
  color: #fff;
}

.form-pt input:-moz-placeholder,
.form-pt textarea:-moz-placeholder {
  color: #05022a;
}
.form-pt input[type="text"]:hover,
.form-pt input[type="email"]:hover,
.form-pt textarea:hover {
  text-indent: 15px;
  outline: none;
}

.form-pt input[type="text"]:focus,
.form-pt input[type="email"]:focus,
.form-pt textarea:focus {
  border-bottom: 1px solid #05022a;
  outline: none;
}
.form-pt input:hover {
  outline: none;
}
.form-pt input:focus {
  outline: none;
}
.contact .title-pt {
  padding-bottom: 5px;
}
.title-pt {
  padding-bottom: 30px;
}
.title-pt h2 {
  padding-bottom: 12px;
}
.title-pt h2 {
  font-weight: 500;
  text-transform: uppercase;
}
.title-pt h2 span {
  color: #ffb400;
}
/*contact*/
/*menu*/
.menu_container {
  position: fixed;
  top: 10px;
  right: 13px;
  z-index: 99;
  cursor: pointer;
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background: linear-gradient(to left, #cc72db, #737cdf);
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*menu*/
